@CHARSET "UTF-8";

body{
	 text-align:center;
	 font-family: "宋体", Arial, Helvetica, sans-serif;   
   	 color:#333333;  
    
}

table{
	margin:10px auto;
}

input{
	margin:10px;
}

.btn{  
    
    width:58px;  
    height:27px;  
   
}

img{

	height:40px;
}



